{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Vyhledat pojištěnce</title>
</head>
<body>
    <h2>Vyhledat pojištěnce</h2>
    <form method="get" action="{% url 'search_insured' %}">
        <input type="text" name="first_name" placeholder="Jméno" value="{{ first_name }}">
        <input type="text" name="last_name" placeholder="Příjmení" value="{{ last_name }}">
        <button type="submit">Vyhledat</button>

    </form>

    {% if results != None %}
        {% if results %}
            <h3>Výsledky vyhledávání:</h3>
            <ul>
                {% for person in results %}
                    <li>
                        <a href="{% url 'insured_detail' person.id %}">
                            {{ person.first_name }} {{ person.last_name }} <br> Tel. číslo: {{ person.phone }} <br> Datum narození: {{ person.birth_date }} 
                        </a>
                    </li>
                    <br>
                {% endfor %}
               
            </ul>
        {% else %}
            <p>Nebyli nalezeni žádní pojištění podle zadaných kritérií.</p>
        {% endif %}
    {% endif %}

    <p><a href="{% url 'index' %}">Zpět do hlavního menu</a></p>
    <footer>
        <hr>
        <p>&copy; 2025 Evidence pojištění</p>
    </footer>
</body>
</html>
