{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Vyhledat pojištěnce</title>
</head>
<body>
    <div class="navigacni_menu">
        <form action="{% url 'index' %}" method="get">
            <button type="submit">Domů</button>
        </form>
        
        <form action="{% url 'add_insured_with_insurance' %}" method="get">
            <button type="submit">Přidat pojištěnce</button>
        </form>

        <form action="{% url 'insured_list' %}" method="get">
            <button type="submit">Seznam pojištěných</button>
        </form>
    
        <form action="{% url 'search_insured' %}" method="get">
            <button type="submit">Vyhledat pojištěnce</button>
        </form>
    </div>
    <br>
    <h1>Vyhledat pojištěnce</h1>
    <form method="get" action="{% url 'search_insured' %}">
        <input type="text" name="first_name" placeholder="Jméno" value="{{ first_name }}">
        <input type="text" name="last_name" placeholder="Příjmení" value="{{ last_name }}">
        <button type="submit">Vyhledat</button>

    </form>

    {% if results is not None %}
    <div class="vysledky-vyhledavani">
        {% if results %}
            <h3>Výsledky vyhledávání:</h3>
            <ul>
                {% for person in results %}
                    <li>
                        <a href="{% url 'insured_detail' person.id %}">
                            <strong>{{ person.first_name }} {{ person.last_name }}</strong><br>
                            Tel. číslo: {{ person.phone }}<br>
                            Datum narození: {{ person.birth_date }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nebyli nalezeni žádní pojištění podle zadaných kritérií.</p>
        {% endif %}
    </div>
{% endif %}


<footer>
    <a>Tento web byl vytvořen jako součást maturitní práce na téma evidence pojištění. Kód je dostupný na GitHubu</a>
    <p><a href="https://github.com/Charvicz" target="_blank">GitHub</a> | <a href="mailto:ondrej.charvat05@gmail.com?subject=Nahlášení%20chyby">Kontakt</a> | <a href="https://forms.gle/c2eCSgmGKtm7CakBA" target="_blank">Nahlásit chybu</a></p>
    <p>© <span id="year"></span> Ondřej Charvát</p>
    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
</footer>
</body>
</html>
